{% extends "base.html" %}

{% block content %}
    {% set sal = user.my_img %}
    <div class="row">
        <div class='col-md-2'>
        </div>
        <div class='col-md-10'>
            <button class="btn btn-info" data-toggle="modal" data-target="#Modal_redprof">Редактировать</button>{% if message != None %}<div class="alert alert-danger" role="alert">{{ message }}</div>{% endif %}
            <div id="Modal_redprof" class="modal fade" tabindex="-1">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" data-dismiss="modal">х</button>
        <h4 class="modal-title">Редактирование</h4>
      </div>
      <div class="modal-body">

          <form class="collapse navbar-collapse " action="" method="post">
        {{ redprofloginform.hidden_tag() }}
        <nav class="navbar navbar-default" role="navigation">
        <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
        <li>
            {{ redprofloginform.login.label }}<br>
            {{ redprofloginform.login(class="form-control") }}   <br>
            </li>

        </ul></div>

        <p>{{ redprofloginform.submit(type="submit", class="btn btn-primary") }}</p>
        </nav>
    </form>
          <form class="collapse navbar-collapse " action="" method="post">
        {{ redprofnameform.hidden_tag() }}
        <nav class="navbar navbar-default" role="navigation">
        <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
        <li>
            {{ redprofnameform.name.label }}<br>
            {{ redprofnameform.name(class="form-control") }}   <br>
            </li>

        </ul></div>

        <p>{{ redprofnameform.submit(type="submit", class="btn btn-primary") }}</p>
        </nav>
    </form>
          <form class="collapse navbar-collapse " action="" method="post">
        {{ redprofsurnameform.hidden_tag() }}
        <nav class="navbar navbar-default" role="navigation">
        <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
        <li>
            {{ redprofsurnameform.surname.label }}<br>
            {{ redprofsurnameform.surname(class="form-control") }}   <br>
            </li>

        </ul></div>

        <p>{{ redprofsurnameform.submit(type="submit", class="btn btn-primary") }}</p>
        </nav>
    </form>
          <form class="collapse navbar-collapse " action="" method="post">
        {{ redprofageform.hidden_tag() }}
        <nav class="navbar navbar-default" role="navigation">
        <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
        <li>
            {{ redprofageform.age.label }}<br>
            {{ redprofageform.age(class="form-control") }}   <br>
            </li>

        </ul></div>

        <p>{{ redprofageform.submit(type="submit", class="btn btn-primary") }}</p>
        </nav>
    </form>
          <form class="collapse navbar-collapse " action="" method="post">
        {{ redprofemailform.hidden_tag() }}
        <nav class="navbar navbar-default" role="navigation">
        <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
        <li>
            {{ redprofemailform.email.label }}<br>
            {{ redprofemailform.email(class="form-control") }}   <br>
            </li>

        </ul></div>

        <p>{{ redprofemailform.submit(type="submit", class="btn btn-primary") }}</p>
        </nav>
    </form>
          <form class="collapse navbar-collapse " action="" method="post">
        {{ redprofaddressform.hidden_tag() }}
        <nav class="navbar navbar-default" role="navigation">
        <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
        <li>
            {{ redprofaddressform.address.label }}<br>
            {{ redprofaddressform.address(class="form-control") }}   <br>
            </li>

        </ul></div>

        <p>{{ redprofaddressform.submit(type="submit", class="btn btn-primary") }}</p>
        </nav>
    </form>

      </div>
      <div class="modal-footer">
        <button class="btn btn-danger" data-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>

    <form class="prof">
        <img class="img-circle" width="100px" height="100px" src={{sal}}><h1>PROFILE</h1>
    <div class="row">
        <div class='col-md-4'>
            <label>login</label>
            <h1>{{user.login}}</h1>
            <div class="col-md-12"><h3>{{user.age}} лет</h3>
            </div>
        </div>
        <div class='col-md-4'>
            <label>name</label>
            <h1>{{user.name}}</h1>
            <div class="col-md-12">
                <footer>Почта</footer>
            {{user.email}}
            </div>
        </div>
        <div class='col-md-4'>
            <label>surname</label>
            <h1>{{user.surname}}</h1>
            <div><label>address</label>
                <footer>{{user.address}}</footer></div>
        </div>
    </div>
    </form>
            <button class="btn btn-info" data-toggle="modal" data-target="#Modal_cor">Корзина</button>
<div id="Modal_cor" class="modal fade" tabindex="-1">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" data-dismiss="modal">х</button>
        <h4 class="modal-title">Корзина</h4>
      </div>
      <div class="modal-body">
        {% for item in lists_bascket %}
    <form class="prof" action="" method="post">
        <footer>id: {{item}}__________________<a href="/buy/{{current_user.id}}/{{item}}/delete">delete</a></footer>
        <img width="100px" height="100px" src={{lists_bascket[item][1]}}>
        <h4>{{lists_bascket[item][0]}}</h4>
        <h6>info: {{lists_bascket[item][2]}}</h6>
        <footer>coin: {{lists_bascket[item][3]}}</footer>
        <footer>count: {{lists_bascket[item][4]}}</footer>
        <a href="/buy/{{current_user.id}}/{{item}}">Buy</a>
    </form>
    <br> <br> <br> <br>
    {% endfor %}
      </div>
      <div class="modal-footer">
        <button class="btn btn-danger" data-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>
            <button class="btn btn-info" data-toggle="modal" data-target="#modal_cic">История покупок</button>
<div id="modal_cic" class="modal fade" tabindex="-1">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" data-dismiss="modal">х</button>
        <h4 class="modal-title">История покупок</h4>
      </div>
      <div class="modal-body">
        {% for item in stor %}
    <form class=" collapse navbar-collapse prof" action="" method="post">

        <nav><img width="50px" height="50px" src={{stor[item][1].product_img}}><footer>{{item}}{{stor[item][2]}}</footer></nav>
        <nav class="navbar navbar-default" role="navigation"><div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

            <ul><li class="divider"></li><li>{{stor[item][1].name}}</li>
            <li>{{stor[item][1].info}}</li>
            <li>{{stor[item][1].coin}}</li>
       </ul>
        </div></nav>
    </form>
    <br> <br> <br> <br>
    {% endfor %}
      </div>
      <div class="modal-footer">
        <button class="btn btn-danger" data-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>
        </div>
    </div>
{% if not current_user.admin_chek %}
<button class="btn" data-toggle="modal" data-target="#Modal_admin">Активация токена</button>
<div id="Modal_admin" class="modal fade" tabindex="-1">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" data-dismiss="modal">х</button>
        <h4 class="modal-title">Активация токена</h4>
      </div>
      <div class="modal-body">

    <form class="collapse navbar-collapse" action="" method="post">
        {{ tokin_chek_form.hidden_tag() }}
                <nav class="navbar navbar-default" role="navigation">
        <div class="collapse navbar-collapse" >
        <ul class="nav navbar-nav">
        <li>
            {{ tokin_chek_form.tok.label }}<br>
            {{ tokin_chek_form.tok(class="form-control") }}   <br>
            </li>
        </ul></div>
            <br>
        <p>{{ tokin_chek_form.chek(type="submit", class="btn btn-primary") }}</p>
                </nav>
    </form>

      </div>
      <div class="modal-footer">
        <button class="btn btn-danger" data-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>
{% else %}
<a class="btn" href="/admin1234567">Вход в админку</a>
{% endif %}
<!--histor-->
<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


{% endblock %}